extends ../layout
block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 名字
                        th 导演
                        th 国家
                        th 语言
                tbody
                    each item in movies
                        tr(class="item-id-#{item._id}")
                            td #{item.title}
                            td #{item.doc}
                            td #{item.country}
                            td #{item.language}